*{
margin: 0;
padding: 0;
}
.container .navbar{
width: 100%;
height: 80px;
background: rgba(22,112,214,0,4)
}
.navbar.logo a{
    text-decoration:none ;
    font-size: 30px;
    font-family: sans-serif;
    color:gray
    }
.navbar ul{
float: left;
margin-left: 200px;

}
.navbar ul li{
list-style: none;
display: inline-block;
margin: 0 8px;
line-height: 30px;


}
.navbar ul li a{
color: white;
text-decoration: none;
font-size: 20px;
padding: 6px 13px;


}
.navbar ul li a.active,
.navbar ul li a:hover{
background:burlywood ;
border-radius: 2px;
}
 .kasa{
    background-color: aqua;
 }

